* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    background:url(/img/wallpaper2you_187118.jpg);
  }
  
   .pokedex {
    align-items: flex-end;
    display: flex;
    height: 650px;
    margin: 50px;
    width: 800px;
    /* margin-bottom: 30px; */
  } 
  
  .left-container,
  .right-container {
    border: 5px solid black;
    width: 50%;
    margin-bottom: 15px;
  }
  
  .right-container {
    border-left: none;
  }
  
  .left-container {
    background: #cf519b;
    height: 100%;
    width: calc(50% + 50px);
  }
  
  .left-container__top-section {
    border-bottom: 3px solid black;
    display: flex;
    height: 20px;
    padding: 8px;
    /* margin-top: 30px; */
  }
  
  .top-section__blue {
    background: radial-gradient(farthest-corner at 10px 10px, white, #0edbe2, #369CD4);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
    height: 30px;
    width: 30px;
  }
  
  .top-section__small-buttons {
    display: flex;
    margin: 0 25px;
  }
  
  .top-section__red,
  .top-section__yellow,
  .top-section__green {
    border-radius: 50%;
    border: 1px solid black;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }
  
  .left-container__main-section-container {
    display: flex;
    height: calc(70% - 50px);
  }
  
  .left-container__main-section {
    height: 70%;
    padding: 25px;
    width: 500px;
  }
  
  .main-section__white {
    background: #DEDEDE;
    border: 3px solid black;
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,.3);
    height: 400px;
  }
  
  .main-section__black {
    background: black;
    height: calc(100% - 50px);
    margin: 25px;
    padding: 10px;
    width: calc(100% - 50px);
  }

  .img-display{
    height: 600%;
    margin: 25px;
    padding: 10px;
    width: 600%;

  }
  
  .main-screen {
    border-radius: 15px;
    height: 100%;
    padding: 15px;
  }
  
  .screen__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .screen__description {
    display: flex;
    height: 100px;
    justify-content: space-around;
  }
  
  .screen__stats {
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 15px;
  }
  
 
  .info{
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}
.buttons__button {
    align-items: center;
    background: black;
    border-radius: 50%;
    border: 1px solid dimgrey;
    box-shadow: 0 0 2px 2px rgba(0,0,0, .3);
    color: rgba(255,255,255,.75);
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
  }
  
  .buttons__button:first-child {
    margin-top: 5px;
  }
  
  .buttons__button:last-child {
     margin-top: -5px;
   }
  
  
  .left-container__right {
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 50px;
  }
  
  .left-container__hinge {
    background: linear-gradient(to right, #090541, #2d2075, #776fc2, #190c38);
    height: 75px;
    width: 100%;
  }
  
  .left-container__hinge:first-child {
    border-bottom: 3px solid black;
  }
  
  .left-container__hinge:last-child {
    border-top: 3px solid black;
  }
  
  .top-section__red {
    background: #30cdd3;
  }
  
  .top-section__yellow {
    background: #EDF18E;
  }
  
  .top-section__green {
    background: #33915A;
  }
  
  .right-container {
    background: #cf519b;
    height: calc(100% - 50px);
    padding: 25px;
    width: calc(50% - 50px);
  }
  

  .id-name{
    background: rgb(66, 56, 155);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
    height: 70px;
    border-radius: 10px;
    border: 6px solid black;
    margin-bottom:50px;
    font-size:xx-large;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 15px 15px 0;
    /* padding: 10px; */
  }
  
  .right-container__black {
    background: black;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
    height: 70px;
    border-radius: 10px;
    padding: 4px;
    margin-top: 50px;
  }
  
  .right-container__screen {
    background: rgb(66, 56, 155);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px 15px 0;
    font-size:xx-large;
    text-align: center;
    /* font-weight: bold; */
    color: white;
    text-transform: uppercase;
    
  }

  
  .right-container__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .left-button,
  .right-button,.send{
    align-items: center;
    background: #9bb457;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
    display: flex;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
  }
  #sub{
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  
 .send:hover{
    background: white;
  }
  
  .left-button:active,
  .right-button:active,.send:active{
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,.3);
  }
  

  
.form {
	height:auto;
	background: rgb(143, 131, 233);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:20px;
	border-radius: 40px;
  margin-top: 8px;
  font-size:larger;
  font-weight: bold;
  /* border-radius: 3px; */
  border: 5px solid black;
  
    
}

.form > p {
	text-align:center;
	color: rgb(19, 6, 6);
	margin-bottom: 10px;
}

.textInput{
	width: 100%;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
	outline:none;
	border-radius: 5px;
  font-size: larger;
  font-weight: bold;
 
 
}
#res img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}


.eval1,.eval2{
  align-items: center;
  background: #b6aeae;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
  display: flex;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  width: 200px;
  margin-top: 30px;
  margin-left: 20px;
}
.eval-name1,.eval-name2,.eval-name3{
  align-items: center;
  background: #473fbd;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 100px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: large;
  text-transform: uppercase;
  color: #DEDEDE;

 
}
.right-container-bottom{
  display: flex;
  justify-content: space-around;
  margin-top: -4px;
}
#ev-name2{
  margin-left: 20px;
  height:40px;
  width: 200px;
}
#eval-img1{
height:90px;
width:180px;
}